NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx

# Seedスクリプトや管理系サーバーコードのみで使用。絶対にNEXT_PUBLIC_を付けない・クライアントに公開しないこと。
SUPABASE_SERVICE_ROLE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx
